{% include "data/template-ui.html" %}
<link rel="stylesheet" type="text/css" href="/static/css/icons.css" />
<link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css" />

<style>
    .container-fluid {
        padding: 0 10 0;
    }

    .page-wrapper {
        padding-bottom: 20px;
    }

    .page-wrapper {
        min-height: 600px !important;
    }

    .btn-refresh {
        background-color: #c53727;
        color: #fff;
    }

    .btn-check {
        background-color: #35aa47;
        color: #fff;
    }
</style>

<div class="page-wrapper">
    <!-- 正文 -->
    <div class="container-fluid animated fadeInUp">
        <div class="col-12">
            <div class="card">
                <div class="card-title">
                    <h4 class="text-primary">更新数据质量检核结果（{{ date }}）</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="card-subtitle" style="color:black;">
                                注：需要对全7家公司完成检核才会在仪表盘、检核报告中显示新的日期数据
                            </h5>
                        </div>
                        
                        <div class="col-lg-6">
                            <button class="btn btn-xs btn-refresh" onclick="UpadteProgress();">
                                <i class="im-spinner2 fa-spin"></i>&nbsp;&nbsp;刷新检核进度
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>公司</th>
                                <th>检核进度</th>
                                <th>检核规则</th>
                                <th># 操作</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>#</td>
                                <td>
                                    <a>xt</a>
                                </td>
                                <td class="project_progress">
                                    <div class="progress">
                                        <div class="progress-bar wow animated progress-animated"
                                            style="width: 0%; height:6px;background-color:#2ec7c9;"
                                            role="progressbar" id="progressbar_xt"> </div>
                                    </div>
                                    <small id="progressvalue_xt">0% 已完成</small>
                                </td>
                                <td>
                                    <a href="../../check/rule?company=xt&risk_market=" target="_blank"
                                        class="btn btn-primary btn-xs">
                                        <i class="im-link"></i>&nbsp;&nbsp;查看规则
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-xs btn-check" id="xt"
                                        onclick="rule_execute('xt')">
                                        <i class="im-paperplane"></i>&nbsp;&nbsp;立即检核>>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>#</td>
                                <td>
                                    <a>zc</a>
                                </td>
                                <td class="project_progress">
                                    <div class="progress">
                                        <div class="progress-bar wow animated progress-animated"
                                            style="width: 0%; height:6px;background-color:#2ec7c9;"
                                            role="progressbar" id="progressbar_zc"> </div>
                                    </div>
                                    <small id="progressvalue_zc">0% 已完成</small>
                                </td>
                                <td>
                                    <a href="../../check/rule?company=zc&risk_market=" target="_blank"
                                        class="btn btn-primary btn-xs">
                                        <i class="im-link"></i>&nbsp;&nbsp;查看规则
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-xs btn-check" id="zc"
                                        onclick="rule_execute('zc')">
                                        <i class="im-paperplane"></i>&nbsp;&nbsp;立即检核>>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>#</td>
                                <td>
                                    <a>db</a>
                                </td>
                                <td class="project_progress">
                                    <div class="progress">
                                        <div class="progress-bar wow animated progress-animated"
                                            style="width: 0%; height:6px;background-color:#dc69aa;"
                                            role="progressbar" id="progressbar_db"> </div>
                                    </div>
                                    <small id="progressvalue_db">0% 已完成</small>
                                </td>
                                <td>
                                    <a href="../../check/rule?company=db&risk_market=" target="_blank"
                                        class="btn btn-primary btn-xs">
                                        <i class="im-link"></i>&nbsp;&nbsp;查看规则
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-xs btn-check" id="db"
                                        onclick="rule_execute('db')">
                                        <i class="im-paperplane"></i>&nbsp;&nbsp;立即检核>>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>#</td>
                                <td>
                                    <a>jk</a>
                                </td>
                                <td class="project_progress">
                                    <div class="progress">
                                        <div class="progress-bar wow animated progress-animated"
                                            style="width: 0%; height:6px;background-color:#7eb00a;"
                                            role="progressbar" id="progressbar_jk"> </div>
                                    </div>
                                    <small id="progressvalue_jk">0% 已完成</small>
                                </td>
                                <td>
                                    <a href="../../check/rule_list?company=jk&risk_market=" target="_blank"
                                        class="btn btn-primary btn-xs">
                                        <i class="im-link"></i>&nbsp;&nbsp;查看规则
                                    </a> </td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-xs btn-check" id="jk"
                                        onclick="rule_execute('jk')">
                                        <i class="im-paperplane"></i>&nbsp;&nbsp;立即检核>>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>#</td>
                                <td>
                                    <a>jj1</a>
                                </td>
                                <td class="project_progress">
                                    <div class="progress">
                                        <div class="progress-bar wow animated progress-animated"
                                            style="width: 0%; height:6px;background-color:#c14089;"
                                            role="progressbar" id="progressbar_jj1"> </div>
                                    </div>
                                    <small id="progressvalue_jj1">0% 已完成</small>
                                </td>
                                <td>
                                    <a href="../../check/rule?company=jj1&risk_market=" target="_blank"
                                        class="btn btn-primary btn-xs">
                                        <i class="im-link"></i>&nbsp;&nbsp;查看规则
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-xs btn-check" id="jj1"
                                        onclick="rule_execute('jj1')">
                                        <i class="im-paperplane"></i>&nbsp;&nbsp;立即检核>>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>#</td>
                                <td>
                                    <a>jj2</a>
                                </td>
                                <td class="project_progress">
                                    <div class="progress">
                                        <div class="progress-bar wow animated progress-animated"
                                            style="width: 0%; height:6px;" role="progressbar" id="progressbar_jj2">
                                        </div>
                                    </div>
                                    <small id="progressvalue_jj2">0% 已完成</small>
                                </td>
                                <td>
                                    <a href="../../check/rule?company=jj2&risk_market=" target="_blank"
                                        class="btn btn-primary btn-xs">
                                        <i class="im-link"></i>&nbsp;&nbsp;查看规则
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-xs btn-check" id="jj2"
                                        onclick="rule_execute('jj2')">
                                        <i class="im-paperplane"></i>&nbsp;&nbsp;立即检核>>
                                    </a>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>#</td>
                                <td>
                                    <a>jz</a>
                                </td>
                                <td class="project_progress">
                                    <div class="progress">
                                        <div class="progress-bar bg-warning wow animated progress-animated"
                                            style="width: 0%; height:6px;" role="progressbar" id="progressbar_jz"> </div>
                                    </div>
                                    <small id="progressvalue_jz">0% 已完成</small>
                                </td>
                                <td>
                                    <a href="../../check/rule?company=jz&risk_market=" target="_blank"
                                        class="btn btn-primary btn-xs">
                                        <i class="im-link"></i>&nbsp;&nbsp;查看规则
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-xs btn-check" id="jz"
                                        onclick="rule_execute('jz')">
                                        <i class="im-paperplane"></i>&nbsp;&nbsp;立即检核>>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="navbar-fixed-bottom" style="line-height: 10px;font-size:13px;">
    <div class="footer">
        © 2019-2020 Hyhyhyhyhyhyh
    </div>
</footer>

<!-- 设置头像 / 设置日期 -->
<script src="/static/js/init.js"></script>
<script src="/static/js/sweetalert.min.js"></script>

<script>
    function rule_execute(val) {
        swal("开始执行检核，可以点击检核状态刷新进度");
        document.getElementById(val).disabled = true;

        //更新数据库
        $.ajax({
            type: "POST",
            url: "../../api/check/rule/execute",
            data: {
                company: val,
                username: localStorage.getItem("username"),
            },
            success: function (data) {
                //console.log(data);
                if (data.status == 'success') {
                    document.getElementById(val).disabled = false;

                    swal({
                        title: data.msg,
                        icon: "success",
                    });
                }
                else {
                    swal('发生错误!', data.status, 'error');
                    document.getElementById(val).disabled = false;
                }
            },
            error: function (e) {
                swal('发生错误!', data.status, 'error');
                document.getElementById(val).disabled = false;
            }
        })
    };

    function UpadteProgress(){
        for (var _i = 0, _arr = ["xt", "zc", "db", "jk", "jj1", "jj2", "jz"]; _i < _arr.length; _i++){
            company = _arr[_i];
            let bar = document.getElementById("progressbar_"+company);
            let val = document.getElementById("progressvalue_"+company);
        
            $.ajax({
                type : "GET",
                async : true,
                url : "../../api/check/progress",
                data: {
                    'company': company
                },
                dataType : "json",
                success : function(result) {
                    bar.style.width = result.data + "%";
                    val.innerHTML = result.data + "% 已完成";
                }
            })
        }

        swal({
            title: '刷新进度成功',
            icon: "success",
            timer: 1000
        });
    };

    UpadteProgress();
</script>

</body>

</html>