astroid==2.3.3
backports.csv==1.0.7
certifi==2019.9.11
chardet==3.0.4
cron-descriptor==1.2.24
cx-Oracle==7.2.2
DateTime==4.3
defusedxml==0.6.0
Django==2.2.10
django-bootstrap3==11.1.0
django-bootstrap4==0.0.8
django-debug-toolbar==2.0
django-filter==2.2.0
django-tables2==2.1.0
et-xmlfile==1.0.1
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
isort==4.3.21
jdcal==1.4.1
Jinja2==2.10.1
lazy-object-proxy==1.4.3
ldap3==2.6
lml==0.0.9
MarkupSafe==1.1.1
mccabe==0.6.1
meld3==1.0.2
mysqlclient==1.4.4
numpy==1.17.0
odfpy==1.4.0
openpyxl==2.5.14
pandas==1.0.3
prettytable==0.7.2
psycopg2==2.8.5
pyasn1==0.4.6
pyecharts==1.4.0
pyexcel==0.5.15
pyexcel-io==0.5.20
pyexcel-webio==0.1.4
pyexcel-xlsx==0.5.7
pylint==2.4.4
pymssql==2.1.4
python-crontab==2.4.0
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
redis==3.3.8
requests==2.22.0
simplejson==3.16.0
six==1.12.0
SQLAlchemy==1.3.16
sqlparse==0.3.0
supervisor==4.0.4
tablib==0.13.0
texttable==1.6.2
typed-ast==1.4.1
urllib3==1.26.5
wrapt==1.11.2
xlrd==1.2.0
xlwt==1.3.0
yapf==0.29.0
zope.interface==4.6.0